<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- <aop:aspectj-autoproxy /> -->
<!--    <bean id="userDao" class="com.example.aspectjexample.dao.UserDao"-->
<!--          />-->

    <bean id="userAccessAdvice" class="com.example.aspectjexample.aspects.UserAccessAdvice"
          factory-method="aspectOf">
        <property name="securityManager" ref="securityManager"/>
    </bean>

<!--    <aop:aspectj-autoproxy>-->
<!--        <aop:include name="thisBean"/>-->
<!--        <aop:include name="thatBean"/>-->
<!--    </aop:aspectj-autoproxy>-->

</beans>